#+++++++++++++++++++++++++++++++++++++++++++++++++++
#--------------------------------
config HI_ACC_SUPPORT
	bool "ACC Monitor Support"
	default y 
	help
	  If you want to compile acc_main, Say Y here.
